<div class="row">
    <div class="col-md-8">
        <div class='box box-primary'>
            <div class="box-header" style="cursor: move;">
                    <h3 class="box-title">Edit Product</h3>
            </div>
            <div class="box-body">
                <form novalidate="novalidate" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label" for="product_name">Nama </label>
                        <div class="controls">
                            <input type="text" class="form-control" id="product_name" name="product_name" ng-model="product.product_name" value='' ng-initial/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="product_price">Harga</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="product_price" name="product_price" ng-model="product.product_price" value='' ng-initial/>
                        </div>
                    </div>

                     <div class="control-group">
                        <label class="control-label" for="product_desc">Keterangan</label>
                        <div class="controls">
                            <input type="text" class="form-control" id="product_desc" name="product_desc" ng-model="product.product_desc" value='' ng-initial/>
                        </div>
                    </div>

                   
            </div>
            <div class="box-footer">
                <button ng-click="cancel()" class="btn btn-warning">Cancel</button>
              <!-- user-creation.html: -->
                <button ng-click="edit()" class="btn btn-primary">Simpan</button>
            </div>
            </div>
            
        </div>
    </form>
</div>

