<div ng-include src="'partials/sidebar.html'"></div>
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Area Sales
             <small></small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#/dashboard"><i class="fa fa-users"></i>Home</a></li>
            <li class="active">Area </li>
        </ol>
    </section>
<!-- Main content -->
<section class="content">
<a class="btn btn-app bg-blue lightboxTambah"  href="#area/tambaharea">
<i class="fa fa-plus"></i> Tambah Area
</a>

<a class="btn btn-app bg-orange lightboxTambah" href="#area">
<i class="fa fa-list"></i> Daftar area
</a>

       <div app-view-segment="1"></div>
 </section><!-- /.content -->
</aside><!-- /.right-side -->
        
