<div ng-include src="'partials/sidebar.html'"></div>
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
    <!-- Content Header (Page header) -->
<!-- Main content -->
<!-- 
<section class="content">
<a class="btn btn-app bg-blue lightboxTambah"  href="#{{ 'sales.tambahsales' | routeSegmentUrl }}">
<i class="fa fa-plus"></i> Tambah Sales
</a>

<a class="btn btn-app bg-orange lightboxTambah" href="#sales">
<i class="fa fa-list"></i> Daftar Sales
</a>-->

       <div app-view-segment="1"></div>
 </section><!-- /.content -->
</aside><!-- /.right-side -->
        
