<script src="js/plugins/daterangepicker/daterangepicker.js" type="text/javascript"></script>

<div class="row">
    <div class="col-md-12">
        <div class='box box-primary'>
            <div class="box-body padding">
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                        <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                        </div>
                         <input date-range-picker class="form-control date-picker" type="text" name="rangeTglPenjualan" ng-model="rangeTglPenjualan" ng-enter="getDataByDate()"/>
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->
                </div>
                <!-- 
                <div class="col-xs-3">
                    <div class="input-group">
                        <span class="input-group-addon">@</span>
                        <input class="form-control" placeholder="name" type="text" ng-model="filter">
                    </div>
                </div>
                -->

                 <div class="col-xs-2">
                    <div class="input-group">
                        <span class="input-group-addon">Sales</span>
                        <select class="form-control" ng-model="selected_sales">
                          <option value="0">Semua</option>
                          <option ng-repeat='sales in allsales' value="{{sales.id}}">{{sales.sales_name}}</option>
                        </select>

                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="input-group">
                        <span class="input-group-addon">Area</span>
                        <select class="form-control" ng-model="selected_area">
                          <option value="0">Semua</option>
                          <option ng-repeat='area in allareas' value="{{area.id}}">{{area.area_name}}</option>
                        </select>

                    </div>
                </div>

                <div class="col-xs-2">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon">Pocket</span>
                    <select class="form-control" ng-model="selected_pocket">
                    <option value="0">Semua</option>
                    <option ng-repeat='pocket in strAllPocket' value="{{pocket.id}}">{{pocket.name}}</option>
                    </select>

                </div>
                </div>


             <div class="col-xs-2">
                    <div class="input-group">
                         <span class="input-group-btn">
                         <button class="btn btn-info btn-flat" type="button" ng-click="getDataCheckIn()"><i class="fa fa-fw fa-search-plus"></i>Go!</button>
                         <button class="btn btn-success btn-flat" type="button" ng-click="printDiv('printable')"><i class="fa fa-fw fa-print"></i>Print</button>
                  
                        </span>
                    </div>
            </div>


            </div>
                
             
        <div id="printable" ng-class="{printed: isPrinted}" on-before-print="printed = true">

         <ui-gmap-google-map
                    center="map.center"
                    zoom="map.zoom"
                    dragging="map.dragging"
                    draggable="true"
                    control="map.control">

            <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'" click="'onClicked'" fit='true' options="'options'">
                <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                    <div ng-non-bindable>
                           <h4>
                                    <i class="fa fa-user text-success"></i> {{ sales_name}} {{ sales_hp}}
                                    </h4>
                                      <div class="inner user-panel">
                                      <div class="pull-left image">
                                   <!--  <img src="images/toko/{{m.toko_image}}" class="img-circle" alt="User Image" /> -->
                                    </div>
                      
                                    <p><i class="fa fa-home text-success"></i> {{nama_toko}} </p>
                                    <p><i class="fa fa-list text-success"></i> {{no_toko}} </p>
                                    <p><i class="fa fa-book text-success"></i> Pocket {{pocket_id}} </p>
                      		        <p><i class="fa fa-clock-o text-success"></i> {{checkin_date}} {{checkin_hours}} </p>              
                            

                                </div>
                                <div class="icon">
                                    <i class="ion ion-ios7-pricetag-outline"></i>
                                </div>
                                <a href="#sales/viewsales/{{sales_id}}" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>

                        <p class="muted">{{keterangan}}</p>
                    </div>


                </ui-gmap-windows>
            </ui-gmap-markers>
        </ui-gmap-google-map>


    
           
            </div>
             </div>

    </div>
    </div>
</div>

<style type="text/css">
.angular-google-map-container { height: 400px; }

.angular-google-map-container {
    width: 100%;
    height: 600px;
}

/* fix for Twitter Bootstrap handling of responsive images */
.angular-google-map img {
    max-width: none;
}

.angular-google-map {
    top: 80px;

}

.shrink {
    font-size: 8;
}

.true:hover {
    background-color: lightgreen;
}

.false:hover {
    background-color: lightpink;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}

/** FIX for Bootstrap and Google Maps Info window styes problem **/
img[src*="gstatic.com/"], img[src*="googleapis.com/"] {
  max-width: none;
}

.custom-info-window{
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 20px;
    /*border: 1px solid white;*/
    box-shadow: 3px 3px 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 200px;
    margin-top: 15px;
    margin-left: -130px;
}
.custom-info-window a{
    color: white;
    text-decoration: underline;
}
.custom-info-window:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 15px 15px;
    border-color: rgba(0,0,0,0.5) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -15px;
    left: 118px;
}

.small-box > .small-box-footer:hover {
  color: #000;
  background: rgba(0, 0, 0, 0.15);
}

.small-box:hover {
  text-decoration: none;
  color: #000;
}


.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    margin-left: 10px;
}


</style>
